* {
  margin:0;
  padding:0;
}

a {
  font-family: "Helvetica";
  font-weight: 700;
  color: whitesmoke;
  text-align: center;
  display: block;
  text-decoration: none;
}

body {
  background-color: black;
}

.block {
  background:linear-gradient(180deg, #000000, #111111);
  position: relative;
  width: 300px;

  padding: 1rem;
  margin: 10% auto;
  border-radius: 30px;
  border: 1px solid whitesmoke;
}

.glow::before, glow::after {
  content:'';
  position:absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(45deg, #993333, #ff00ff, #6e0dd0, #099fff, #ff00 ,#993333);
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: animate 20s linear infinite;
  
  
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::before {
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.glow:hover::before {
  opacity: 100;
}